<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>14 Value stream</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>14 Value stream</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-271d3f84711f4e299be0abbcd9a9653c.png" alt="14 Value stream" usemap="#id-271d3f84711f4e299be0abbcd9a9653cmap"/>
			   <map name="id-271d3f84711f4e299be0abbcd9a9653cmap">
				  		<area shape="rect" coords="712,598,868,671" href="../elements/id-01ba671b33f44d3cb0b7c164f6baf4d8.html"  target="element">
				  		<area shape="rect" coords="891,598,1048,671" href="../elements/id-ed9cf56860354644aa5a2ab816246293.html"  target="element">
				  		<area shape="rect" coords="981,525,1125,586" href="../elements/id-ec9ac2d5303948579b7f55a6b2fd9281.html"  target="element">
				  		<area shape="rect" coords="980,429,1125,490" href="../elements/id-ad190aea4b86497c8b3af179f5af6f86.html"  target="element">
				  		<area shape="rect" coords="896,358,1029,416" href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html"  target="element">
				  				<area shape="rect" coords="416,412,561,467" href="../elements/id-d23d614844d44b1290534bf8688bba06.html"  target="element">
				  				<area shape="rect" coords="272,412,392,467" href="../elements/id-b7975136179d4885bbdd5e19eda8ff31.html"  target="element">
				  				<area shape="rect" coords="68,412,239,467" href="../elements/id-a209ffd76888403cbb3b3f49cfed4ea3.html"  target="element">

				  		<area shape="rect" coords="56,377,573,479" href="../elements/id-239a11d007024d628b757e7bb7877aec.html"  target="element">
				  				<area shape="rect" coords="239,296,359,351" href="../elements/id-01eeaa12f5ad48c0bb2913f6ecebdff9.html"  target="element">
				  				<area shape="rect" coords="116,296,236,351" href="../elements/id-58e38a96bc8b4f329f3c301816648096.html"  target="element">

				  		<area shape="rect" coords="104,261,369,359" href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html"  target="element">
				  				<area shape="rect" coords="704,297,845,352" href="../elements/id-a309616d716e42b299c57cd8bd109069.html"  target="element">
				  				<area shape="rect" coords="548,297,689,352" href="../elements/id-dbba0e700f404f98bea118a220277246.html"  target="element">

				  		<area shape="rect" coords="536,261,861,359" href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html"  target="element">
				  				<area shape="rect" coords="68,636,218,691" href="../elements/id-722f6e2d4c7e4c1cbc20ff16791b01a4.html"  target="element">
				  				<area shape="rect" coords="68,576,218,631" href="../elements/id-92dc2e19fefa40b2a9b88db7ff2d4425.html"  target="element">
				  				<area shape="rect" coords="68,516,218,571" href="../elements/id-c042faf7d1214e8eb161df48f84219e6.html"  target="element">

				  		<area shape="rect" coords="56,490,249,697" href="../elements/id-49bce04280f545b7976eb39a70c4e728.html"  target="element">
				  		<area shape="rect" coords="392,13,523,79" href="../elements/id-dd715dfbbf894de6899d231ef2740150.html"  target="element">
				  		<area shape="rect" coords="224,10,354,81" href="../elements/id-254bb22a0a7e4a7ea5a35934df1fd5f5.html"  target="element">
				  		<area shape="rect" coords="596,10,742,81" href="../elements/id-e522999231e342369fac3d394dfaff30.html"  target="element">
				  		<area shape="rect" coords="788,10,945,81" href="../elements/id-5566104625c4477994200241d7209cc2.html"  target="element">
				  				<area shape="rect" coords="94,152,275,222" href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html"  target="element">
				  				<area shape="rect" coords="478,152,647,222" href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html"  target="element">
				  				<area shape="rect" coords="310,152,443,222" href="../elements/id-8a0878dfe85743368676b457089b7720.html"  target="element">
				  				<area shape="rect" coords="682,152,839,222" href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html"  target="element">

				  		<area shape="rect" coords="80,117,861,238" href="../elements/id-a8492be534fa4d33b343f4d35145a333.html"  target="element">
				  		<area shape="rect" coords="717,377,862,432" href="../elements/id-9fd6e6bb05af4feaa2fd89c407328ce6.html"  target="element">
				  		<area shape="rect" coords="717,457,862,512" href="../elements/id-ed49fea848704dd18a30abe05866c359.html"  target="element">
				  		<area shape="rect" coords="956,274,1077,329" href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html"  target="element">
				  		<area shape="rect" coords="896,131,1125,225" href="../elements/id-6ab1e89f61184b2d83b77810ef9e4a64.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6ab1e89f61184b2d83b77810ef9e4a64.html" target="element"> Creation of a platform for practical sessions on the discipline "Algorithms and data structures" </a> </td>
											    <td> <a href="../elements/id-6ab1e89f61184b2d83b77810ef9e4a64.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
											    <td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed49fea848704dd18a30abe05866c359.html" target="element"> Student </a> </td>
											    <td> <a href="../elements/id-ed49fea848704dd18a30abe05866c359.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9fd6e6bb05af4feaa2fd89c407328ce6.html" target="element"> Employer </a> </td>
											    <td> <a href="../elements/id-9fd6e6bb05af4feaa2fd89c407328ce6.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
											    <td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element"> Integration of the platform into the learning process </a> </td>
													    <td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
													    <td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element"> Setting up automatic task checking </a> </td>
													    <td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element"> Setting up the platform infrastructure on GitHub </a> </td>
													    <td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element" class="i18n-elementtype-ValueStream">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5566104625c4477994200241d7209cc2.html" target="element"> Improving the quality of student training </a> </td>
											    <td> <a href="../elements/id-5566104625c4477994200241d7209cc2.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e522999231e342369fac3d394dfaff30.html" target="element"> Improving the effectiveness of solution checking </a> </td>
											    <td> <a href="../elements/id-e522999231e342369fac3d394dfaff30.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-254bb22a0a7e4a7ea5a35934df1fd5f5.html" target="element"> Saving course materials </a> </td>
											    <td> <a href="../elements/id-254bb22a0a7e4a7ea5a35934df1fd5f5.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd715dfbbf894de6899d231ef2740150.html" target="element"> Involving students in project work </a> </td>
											    <td> <a href="../elements/id-dd715dfbbf894de6899d231ef2740150.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49bce04280f545b7976eb39a70c4e728.html" target="element"> General opportunities </a> </td>
											    <td> <a href="../elements/id-49bce04280f545b7976eb39a70c4e728.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c042faf7d1214e8eb161df48f84219e6.html" target="element"> Risk management </a> </td>
													    <td> <a href="../elements/id-c042faf7d1214e8eb161df48f84219e6.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92dc2e19fefa40b2a9b88db7ff2d4425.html" target="element"> Project management </a> </td>
													    <td> <a href="../elements/id-92dc2e19fefa40b2a9b88db7ff2d4425.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-722f6e2d4c7e4c1cbc20ff16791b01a4.html" target="element"> Knowledge management </a> </td>
													    <td> <a href="../elements/id-722f6e2d4c7e4c1cbc20ff16791b01a4.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html" target="element"> Maintenance </a> </td>
											    <td> <a href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dbba0e700f404f98bea118a220277246.html" target="element"> User training </a> </td>
													    <td> <a href="../elements/id-dbba0e700f404f98bea118a220277246.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a309616d716e42b299c57cd8bd109069.html" target="element"> User support </a> </td>
													    <td> <a href="../elements/id-a309616d716e42b299c57cd8bd109069.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html" target="element"> Infrastructure </a> </td>
											    <td> <a href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-58e38a96bc8b4f329f3c301816648096.html" target="element"> Project hosting </a> </td>
													    <td> <a href="../elements/id-58e38a96bc8b4f329f3c301816648096.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01eeaa12f5ad48c0bb2913f6ecebdff9.html" target="element"> Cloud application hosting </a> </td>
													    <td> <a href="../elements/id-01eeaa12f5ad48c0bb2913f6ecebdff9.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-239a11d007024d628b757e7bb7877aec.html" target="element"> Software development </a> </td>
											    <td> <a href="../elements/id-239a11d007024d628b757e7bb7877aec.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a209ffd76888403cbb3b3f49cfed4ea3.html" target="element"> System administration </a> </td>
													    <td> <a href="../elements/id-a209ffd76888403cbb3b3f49cfed4ea3.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7975136179d4885bbdd5e19eda8ff31.html" target="element"> web development </a> </td>
													    <td> <a href="../elements/id-b7975136179d4885bbdd5e19eda8ff31.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d23d614844d44b1290534bf8688bba06.html" target="element"> Automation of development processes </a> </td>
													    <td> <a href="../elements/id-d23d614844d44b1290534bf8688bba06.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html" target="element"> Universal competencies </a> </td>
											    <td> <a href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad190aea4b86497c8b3af179f5af6f86.html" target="element"> Professional competencies </a> </td>
											    <td> <a href="../elements/id-ad190aea4b86497c8b3af179f5af6f86.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec9ac2d5303948579b7f55a6b2fd9281.html" target="element"> The ability to develop algorithms </a> </td>
											    <td> <a href="../elements/id-ec9ac2d5303948579b7f55a6b2fd9281.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed9cf56860354644aa5a2ab816246293.html" target="element"> Teamwork and leadership </a> </td>
											    <td> <a href="../elements/id-ed9cf56860354644aa5a2ab816246293.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01ba671b33f44d3cb0b7c164f6baf4d8.html" target="element"> Development and implementation of projects </a> </td>
											    <td> <a href="../elements/id-01ba671b33f44d3cb0b7c164f6baf4d8.html" target="element" class="i18n-elementtype-Value">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-47be8bd265c84ecaa0284f9e72b19c3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47be8bd265c84ecaa0284f9e72b19c3a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
																		<td> <a href="../elements/id-6ab1e89f61184b2d83b77810ef9e4a64.html" target="element"> Creation of a platform for practical sessions on the discipline "Algorithms and data structures" </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a6c5909ebc6425fbf240cca15be15a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a6c5909ebc6425fbf240cca15be15a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
																		<td> <a href="../elements/id-ed49fea848704dd18a30abe05866c359.html" target="element"> Student </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78c463c7e2084d7791041e778984fa8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78c463c7e2084d7791041e778984fa8a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
																		<td> <a href="../elements/id-9fd6e6bb05af4feaa2fd89c407328ce6.html" target="element"> Employer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8763db37847545f7b7d150eb4611a8ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8763db37847545f7b7d150eb4611a8ea.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																		<td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element"> Integration of the platform into the learning process </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-85d9deedb4c748bba58f4923958e8a8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-85d9deedb4c748bba58f4923958e8a8c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																		<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c17beae204b4ac5a70756933de849a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c17beae204b4ac5a70756933de849a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																		<td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element"> Setting up automatic task checking </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc9e3e26436240a98eb08c31cbaa5baa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc9e3e26436240a98eb08c31cbaa5baa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																		<td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element"> Setting up the platform infrastructure on GitHub </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0744ef3c1f0f4afa8d28720f7ac22676.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0744ef3c1f0f4afa8d28720f7ac22676.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element"> Integration of the platform into the learning process </a> </td>
																				<td> <a href="../elements/id-6ab1e89f61184b2d83b77810ef9e4a64.html" target="element"> Creation of a platform for practical sessions on the discipline "Algorithms and data structures" </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-01f9358b3ffb4ce8907f66cd1b096bca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01f9358b3ffb4ce8907f66cd1b096bca.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																				<td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element"> Setting up automatic task checking </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3e325ce89cda46748fb4ef1c3c7781a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e325ce89cda46748fb4ef1c3c7781a3.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element"> Setting up automatic task checking </a> </td>
																				<td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element"> Integration of the platform into the learning process </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-df1b9a7e70e646d1a4b1a4e8b82d18be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-df1b9a7e70e646d1a4b1a4e8b82d18be.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element"> Setting up the platform infrastructure on GitHub </a> </td>
																				<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-deced317d67d4ee6a94a603e8ba0ddde.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-deced317d67d4ee6a94a603e8ba0ddde.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5566104625c4477994200241d7209cc2.html" target="element"> Improving the quality of student training </a> </td>
																		<td> <a href="../elements/id-0744ef3c1f0f4afa8d28720f7ac22676.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2e74ba9961724e949611932a79cf6756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e74ba9961724e949611932a79cf6756.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e522999231e342369fac3d394dfaff30.html" target="element"> Improving the effectiveness of solution checking </a> </td>
																		<td> <a href="../elements/id-3e325ce89cda46748fb4ef1c3c7781a3.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3c779bd0bd644cacb83e86a318c36a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c779bd0bd644cacb83e86a318c36a9e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-254bb22a0a7e4a7ea5a35934df1fd5f5.html" target="element"> Saving course materials </a> </td>
																		<td> <a href="../elements/id-df1b9a7e70e646d1a4b1a4e8b82d18be.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-93946eee887a4960a4f77d3b2129a64e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93946eee887a4960a4f77d3b2129a64e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd715dfbbf894de6899d231ef2740150.html" target="element"> Involving students in project work </a> </td>
																		<td> <a href="../elements/id-01f9358b3ffb4ce8907f66cd1b096bca.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a80c95163a7b4d349134e221069f7704.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a80c95163a7b4d349134e221069f7704.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49bce04280f545b7976eb39a70c4e728.html" target="element"> General opportunities </a> </td>
																		<td> <a href="../elements/id-c042faf7d1214e8eb161df48f84219e6.html" target="element"> Risk management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90a7d1479c3844c18b3e7a77e99be0c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90a7d1479c3844c18b3e7a77e99be0c9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49bce04280f545b7976eb39a70c4e728.html" target="element"> General opportunities </a> </td>
																		<td> <a href="../elements/id-92dc2e19fefa40b2a9b88db7ff2d4425.html" target="element"> Project management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc1eaeb46ee044f299b869bc41b4a524.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc1eaeb46ee044f299b869bc41b4a524.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-49bce04280f545b7976eb39a70c4e728.html" target="element"> General opportunities </a> </td>
																		<td> <a href="../elements/id-722f6e2d4c7e4c1cbc20ff16791b01a4.html" target="element"> Knowledge management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0fdf175d4dd74bbd8c7760efb3002cd7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fdf175d4dd74bbd8c7760efb3002cd7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c042faf7d1214e8eb161df48f84219e6.html" target="element"> Risk management </a> </td>
																				<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-351b0b9deae748ce8a73176ab9b83fa8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-351b0b9deae748ce8a73176ab9b83fa8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-92dc2e19fefa40b2a9b88db7ff2d4425.html" target="element"> Project management </a> </td>
																				<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1d47469cd1fb4c54b7272e580248dbbd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d47469cd1fb4c54b7272e580248dbbd.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-722f6e2d4c7e4c1cbc20ff16791b01a4.html" target="element"> Knowledge management </a> </td>
																				<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-353c9e2e9e0f496ca19a27d0b017c51b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-353c9e2e9e0f496ca19a27d0b017c51b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html" target="element"> Maintenance </a> </td>
																		<td> <a href="../elements/id-dbba0e700f404f98bea118a220277246.html" target="element"> User training </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4505118ba9d04e6abda383030f96b0be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4505118ba9d04e6abda383030f96b0be.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html" target="element"> Maintenance </a> </td>
																		<td> <a href="../elements/id-a309616d716e42b299c57cd8bd109069.html" target="element"> User support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd983beabb9a46689e359bf96a5a2d4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd983beabb9a46689e359bf96a5a2d4d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d88eda6486b144529e5d5512878ec9b3.html" target="element"> Maintenance </a> </td>
																		<td> <a href="../elements/id-86b213fb947348ed946d8cf3d3ee739e.html" target="element"> Integration of the platform into the learning process </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bac134428269482abdd998c0bb0b6ba0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bac134428269482abdd998c0bb0b6ba0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html" target="element"> Infrastructure </a> </td>
																		<td> <a href="../elements/id-58e38a96bc8b4f329f3c301816648096.html" target="element"> Project hosting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b3809cbdda4e489eac012abf17e755fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3809cbdda4e489eac012abf17e755fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html" target="element"> Infrastructure </a> </td>
																		<td> <a href="../elements/id-01eeaa12f5ad48c0bb2913f6ecebdff9.html" target="element"> Cloud application hosting </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96f07f965e2d4458a387ed3177971838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96f07f965e2d4458a387ed3177971838.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a71763a07ae9469b9d13b1466c4f66f8.html" target="element"> Infrastructure </a> </td>
																		<td> <a href="../elements/id-a8492be534fa4d33b343f4d35145a333.html" target="element"> Creation of a platform for practical sessions </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b14b4cf99cdd43899e503c7712b203fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b14b4cf99cdd43899e503c7712b203fd.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-58e38a96bc8b4f329f3c301816648096.html" target="element"> Project hosting </a> </td>
																				<td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element"> Setting up the platform infrastructure on GitHub </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1f16f2cf556f4bd8a1ec5f062350b48b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f16f2cf556f4bd8a1ec5f062350b48b.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-01eeaa12f5ad48c0bb2913f6ecebdff9.html" target="element"> Cloud application hosting </a> </td>
																				<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e4af6b4e99df49528f1fc810666ce45d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4af6b4e99df49528f1fc810666ce45d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-239a11d007024d628b757e7bb7877aec.html" target="element"> Software development </a> </td>
																		<td> <a href="../elements/id-a209ffd76888403cbb3b3f49cfed4ea3.html" target="element"> System administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5a88708702ff46f4b0d470fc21ec37d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5a88708702ff46f4b0d470fc21ec37d4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-239a11d007024d628b757e7bb7877aec.html" target="element"> Software development </a> </td>
																		<td> <a href="../elements/id-b7975136179d4885bbdd5e19eda8ff31.html" target="element"> web development </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1aea35a6c2fb4b3ead229d6c3c10a33f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1aea35a6c2fb4b3ead229d6c3c10a33f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-239a11d007024d628b757e7bb7877aec.html" target="element"> Software development </a> </td>
																		<td> <a href="../elements/id-d23d614844d44b1290534bf8688bba06.html" target="element"> Automation of development processes </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-90265a8b699442d7b0f68998bcae66f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-90265a8b699442d7b0f68998bcae66f1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a209ffd76888403cbb3b3f49cfed4ea3.html" target="element"> System administration </a> </td>
																				<td> <a href="../elements/id-2371129d55244e96a4fed2ecf8db5cdf.html" target="element"> Setting up the platform infrastructure on GitHub </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-16c841bcaf724a8ba06e4056cf0fc4cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-16c841bcaf724a8ba06e4056cf0fc4cb.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7975136179d4885bbdd5e19eda8ff31.html" target="element"> web development </a> </td>
																				<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-213b9abfada14191ace7aff774bc5d2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-213b9abfada14191ace7aff774bc5d2c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d23d614844d44b1290534bf8688bba06.html" target="element"> Automation of development processes </a> </td>
																				<td> <a href="../elements/id-664cea7ce07c42b49bf7b0702f6467db.html" target="element"> Setting up automatic task checking </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2f162987800246a7b19aa986b23c3c4c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f162987800246a7b19aa986b23c3c4c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d23d614844d44b1290534bf8688bba06.html" target="element"> Automation of development processes </a> </td>
																				<td> <a href="../elements/id-8a0878dfe85743368676b457089b7720.html" target="element"> Web-app integration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-706e36c048f341b8b968dcfd5190078b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-706e36c048f341b8b968dcfd5190078b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html" target="element"> Universal competencies </a> </td>
																		<td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d670cfe5a2047eb9a5dd96ed1775526.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d670cfe5a2047eb9a5dd96ed1775526.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ad190aea4b86497c8b3af179f5af6f86.html" target="element"> Professional competencies </a> </td>
																		<td> <a href="../elements/id-f850dcf0877d42d1a2e4d820928570b3.html" target="element"> Competencies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca5bf90fbbe24ecca4cecd3a137a4d5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca5bf90fbbe24ecca4cecd3a137a4d5e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec9ac2d5303948579b7f55a6b2fd9281.html" target="element"> The ability to develop algorithms </a> </td>
																		<td> <a href="../elements/id-ad190aea4b86497c8b3af179f5af6f86.html" target="element"> Professional competencies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d17d936a701b4248924050021b187119.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d17d936a701b4248924050021b187119.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed9cf56860354644aa5a2ab816246293.html" target="element"> Teamwork and leadership </a> </td>
																		<td> <a href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html" target="element"> Universal competencies </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c461c97b56247649f359ff6d0f76ec3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c461c97b56247649f359ff6d0f76ec3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-01ba671b33f44d3cb0b7c164f6baf4d8.html" target="element"> Development and implementation of projects </a> </td>
																		<td> <a href="../elements/id-992135856e2e4a2dadaf57d957a0f01d.html" target="element"> Universal competencies </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>