<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>10 Processes - Task solving TO BE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>10 Processes - Task solving TO BE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-347e4d67c2cb4478a29315ea042aefca.png" alt="10 Processes - Task solving TO BE" usemap="#id-347e4d67c2cb4478a29315ea042aefcamap"/>
			   <map name="id-347e4d67c2cb4478a29315ea042aefcamap">
				  		<area shape="rect" coords="192,454,361,503" href="../elements/id-a4bfc600232e419eb81870b5e1b1cd63.html"  target="element">
				  		<area shape="rect" coords="288,514,408,551" href="../elements/id-bdbb32978962413682d9988862b333f4.html"  target="element">
				  		<area shape="rect" coords="372,322,480,371" href="../elements/id-13fdc370437344deb39c03aeb04fe4ba.html"  target="element">
				  		<area shape="rect" coords="348,394,468,449" href="../elements/id-47514314e4a544f290b4d22835a86dd1.html"  target="element">
				  		<area shape="rect" coords="432,514,552,551" href="../elements/id-706f9f34a0d44e31b3142b136bc4546a.html"  target="element">
				  		<area shape="rect" coords="192,394,312,449" href="../elements/id-5ac339ef8f274efdb08bff32824d560f.html"  target="element">
				  		<area shape="rect" coords="516,394,636,449" href="../elements/id-3f9b0c1375cf425b995e25323fecc680.html"  target="element">
				  		<area shape="rect" coords="286,574,406,629" href="../elements/id-5c61aa3af2e14e62a80b77750fcf4838.html"  target="element">
				  		<area shape="rect" coords="430,574,550,629" href="../elements/id-a8b586cbd0714418b728c758c6332e2a.html"  target="element">
				  		<area shape="rect" coords="718,574,838,629" href="../elements/id-ec1fdd8385994496a0cbd17054825805.html"  target="element">
				  		<area shape="rect" coords="574,574,694,629" href="../elements/id-f9154f5ebf7749328c4fd78e6fe509f3.html"  target="element">
				  		<area shape="rect" coords="144,574,264,648" href="../elements/id-36d254b009054de1bb369715d315b495.html"  target="element">
				  		<area shape="rect" coords="10,574,130,648" href="../elements/id-78f430b92f494074aca288d348154d61.html"  target="element">
				  		<area shape="rect" coords="12,322,132,371" href="../elements/id-e3323a03362a47959a0e990532b5148a.html"  target="element">
				  		<area shape="rect" coords="576,514,696,551" href="../elements/id-b96677c00b65415cb06e3551580007ec.html"  target="element">
				  		<area shape="rect" coords="144,514,264,551" href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html"  target="element">
				  		<area shape="rect" coords="492,322,624,371" href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html"  target="element">
				  		<area shape="rect" coords="204,322,312,371" href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html"  target="element">
				  		<area shape="rect" coords="12,154,132,209" href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html"  target="element">
				  				<area shape="rect" coords="599,226,732,281" href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html"  target="element">
				  				<area shape="rect" coords="532,128,547,143" href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html"  target="element">
				  				<area shape="rect" coords="611,61,731,113" href="../elements/id-48378c9d9c51458fad8d82340ff36772.html"  target="element">
				  				<area shape="rect" coords="480,61,600,113" href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html"  target="element">
				  				<area shape="rect" coords="348,61,468,110" href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html"  target="element">
				  				<area shape="rect" coords="348,226,468,281" href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html"  target="element">
				  				<area shape="rect" coords="532,250,547,265" href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html"  target="element">
				  				<area shape="rect" coords="480,154,600,203" href="../elements/id-0da87acf569247c19db6c11081897b08.html"  target="element">
				  				<area shape="rect" coords="168,58,288,119" href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html"  target="element">
				  				<area shape="rect" coords="168,151,288,206" href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html"  target="element">
				  				<area shape="rect" coords="168,226,288,281" href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html"  target="element">

				  		<area shape="rect" coords="156,10,745,299" href="../elements/id-2bd9882034874749b4c658be0284b1e3.html"  target="element">
				  		<area shape="rect" coords="12,58,132,113" href="../elements/id-5861914e23a84df1977fd9181ed45003.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> Publishing a task </a> </td>
											    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
											    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
													    <td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element" class="i18n-elementtype-BusinessInteraction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
													    <td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> Discussion of the task / solution </a> </td>
													    <td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> Checking the solution </a> </td>
													    <td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> Return for revision </a> </td>
													    <td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> Performing unit tests </a> </td>
													    <td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> Checking the code style </a> </td>
													    <td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48378c9d9c51458fad8d82340ff36772.html" target="element"> Static code analysis </a> </td>
													    <td> <a href="../elements/id-48378c9d9c51458fad8d82340ff36772.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
													    <td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element" class="i18n-elementtype-Junction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> The solution is appreciated </a> </td>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> Consultation </a> </td>
											    <td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html" target="element"> Team </a> </td>
											    <td> <a href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
											    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
											    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> Student </a> </td>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78f430b92f494074aca288d348154d61.html" target="element"> Training task </a> </td>
											    <td> <a href="../elements/id-78f430b92f494074aca288d348154d61.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36d254b009054de1bb369715d315b495.html" target="element"> Coding task </a> </td>
											    <td> <a href="../elements/id-36d254b009054de1bb369715d315b495.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9154f5ebf7749328c4fd78e6fe509f3.html" target="element"> Task solution </a> </td>
											    <td> <a href="../elements/id-f9154f5ebf7749328c4fd78e6fe509f3.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec1fdd8385994496a0cbd17054825805.html" target="element"> Code </a> </td>
											    <td> <a href="../elements/id-ec1fdd8385994496a0cbd17054825805.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8b586cbd0714418b728c758c6332e2a.html" target="element"> Product increment </a> </td>
											    <td> <a href="../elements/id-a8b586cbd0714418b728c758c6332e2a.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c61aa3af2e14e62a80b77750fcf4838.html" target="element"> User history </a> </td>
											    <td> <a href="../elements/id-5c61aa3af2e14e62a80b77750fcf4838.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f9b0c1375cf425b995e25323fecc680.html" target="element"> Product owner </a> </td>
											    <td> <a href="../elements/id-3f9b0c1375cf425b995e25323fecc680.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ac339ef8f274efdb08bff32824d560f.html" target="element"> Development team </a> </td>
											    <td> <a href="../elements/id-5ac339ef8f274efdb08bff32824d560f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-706f9f34a0d44e31b3142b136bc4546a.html" target="element"> Project </a> </td>
											    <td> <a href="../elements/id-706f9f34a0d44e31b3142b136bc4546a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
											    <td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13fdc370437344deb39c03aeb04fe4ba.html" target="element"> Project management </a> </td>
											    <td> <a href="../elements/id-13fdc370437344deb39c03aeb04fe4ba.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
											    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4bfc600232e419eb81870b5e1b1cd63.html" target="element"> Product Increment delivery </a> </td>
											    <td> <a href="../elements/id-a4bfc600232e419eb81870b5e1b1cd63.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> Publishing a task </a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e3a7fcbc221a48b6b7acb568ee85baac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3a7fcbc221a48b6b7acb568ee85baac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a673b553c59f4c598c2d33e26822a4c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a673b553c59f4c598c2d33e26822a4c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> Discussion of the task / solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2e2470faa12149bb99a2b0a0b6980ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e2470faa12149bb99a2b0a0b6980ba7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> Checking the solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-051236089cb243498c298dc028a20865.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-051236089cb243498c298dc028a20865.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> Performing unit tests </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e5bfca9ad9046ea821fd6e323c60985.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e5bfca9ad9046ea821fd6e323c60985.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> Checking the code style </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c053affadf843f78d8607f3889a8cec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c053affadf843f78d8607f3889a8cec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-48378c9d9c51458fad8d82340ff36772.html" target="element"> Static code analysis </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																		<td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> The solution is appreciated </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-dc027202ff4c423a8ef283a6a5080105.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc027202ff4c423a8ef283a6a5080105.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3e42fc85dfab48fb85c1b6f2453a215a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3e42fc85dfab48fb85c1b6f2453a215a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> Checking the solution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9db3a78d6ebd40aa95f8b912b8cddd59.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9db3a78d6ebd40aa95f8b912b8cddd59.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
																				<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> Performing unit tests </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dddc4d590fa44b85bbbad04c9f16c608.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dddc4d590fa44b85bbbad04c9f16c608.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
																				<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> Checking the code style </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8676b2d58c2d473496b3495e8923a81f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8676b2d58c2d473496b3495e8923a81f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f65f6785fa6143baaf951bf3ce3cfeea.html" target="element"> Publishing the solution </a> </td>
																				<td> <a href="../elements/id-48378c9d9c51458fad8d82340ff36772.html" target="element"> Static code analysis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ec116853257543708f8f5e9626dc4bbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec116853257543708f8f5e9626dc4bbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2b9e144cb0a6468fb082bb1d819a99fc.html" target="element"> Discussion of the task / solution </a> </td>
																				<td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> Consultation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d172a176680443139634dc44b0e15600.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d172a176680443139634dc44b0e15600.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> Checking the solution </a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d17c8e573fc7472bbf7709e6ac73a331.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d17c8e573fc7472bbf7709e6ac73a331.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> The solution is appreciated </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-04405161dae24a87a4235a6689abd9dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04405161dae24a87a4235a6689abd9dd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-45466a3d941b447d81905cbe32dbe04b.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> Return for revision </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-063e792f78744ef6b08e182542bb76ad.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-063e792f78744ef6b08e182542bb76ad.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b404ea5843b049d082fefcd3c4b15ec6.html" target="element"> Return for revision </a> </td>
																				<td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-016f6a8874eb420b938c755d90332ac8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-016f6a8874eb420b938c755d90332ac8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a5234741aab64d3bb4838b8cc376701c.html" target="element"> Performing unit tests </a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0407f875976141faaa2547c39825a744.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0407f875976141faaa2547c39825a744.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b50c38d905f44d99b32aec1c83c5d8e8.html" target="element"> Checking the code style </a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6dc469c09123458f919b13921d4375d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dc469c09123458f919b13921d4375d4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-48378c9d9c51458fad8d82340ff36772.html" target="element"> Static code analysis </a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-265aa20adcff494cb5e6564bcc7e9959.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-265aa20adcff494cb5e6564bcc7e9959.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-109e69610f8e4146aa02ba3d676d2568.html" target="element"> Junction </a> </td>
																				<td> <a href="../elements/id-0da87acf569247c19db6c11081897b08.html" target="element"> Checking the solution </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6a08c71d76654de3a0f98e2fe9e006a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a08c71d76654de3a0f98e2fe9e006a8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1c01298d6674e78af8c3be308b1f1d0.html" target="element"> Consultation </a> </td>
																		<td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> Student </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-62fe31be5d5b43b2a17e28694f6ee9c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62fe31be5d5b43b2a17e28694f6ee9c6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html" target="element"> Team </a> </td>
																		<td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-657e4e27ade94f6185b53de2d68d27c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-657e4e27ade94f6185b53de2d68d27c0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html" target="element"> Team </a> </td>
																		<td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> Student </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6640a2035ae948e9baaa7ecdb81174fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6640a2035ae948e9baaa7ecdb81174fd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc06ea53172743a0a061111cf6cac9be.html" target="element"> Team </a> </td>
																		<td> <a href="../elements/id-5ac339ef8f274efdb08bff32824d560f.html" target="element"> Development team </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1805e301882a48b288eb9748d7eb9777.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1805e301882a48b288eb9748d7eb9777.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f1a02f6a66e4001af99232a7f85d029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f1a02f6a66e4001af99232a7f85d029.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-3f9b0c1375cf425b995e25323fecc680.html" target="element"> Product owner </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fca798fae7834238bd4c6584a9dbd3c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fca798fae7834238bd4c6584a9dbd3c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-78f430b92f494074aca288d348154d61.html" target="element"> Training task </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b7981ecb2581423f801ebcbca9dfdffb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7981ecb2581423f801ebcbca9dfdffb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36d254b009054de1bb369715d315b495.html" target="element"> Coding task </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-50bab2a9262f4414ae9ca9a13775ffaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50bab2a9262f4414ae9ca9a13775ffaf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f9154f5ebf7749328c4fd78e6fe509f3.html" target="element"> Task solution </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a350ed4e49ab49678eaae1d1596d5c8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a350ed4e49ab49678eaae1d1596d5c8c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ec1fdd8385994496a0cbd17054825805.html" target="element"> Code </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8fa48309190a4242878a4ee5d35abe57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fa48309190a4242878a4ee5d35abe57.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a8b586cbd0714418b728c758c6332e2a.html" target="element"> Product increment </a> </td>
																		<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9123b4b5c8a47229c2e9dac7e90cff2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9123b4b5c8a47229c2e9dac7e90cff2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c61aa3af2e14e62a80b77750fcf4838.html" target="element"> User history </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0adddd5d2ad47be9fc66a4de8b427d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0adddd5d2ad47be9fc66a4de8b427d5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f9b0c1375cf425b995e25323fecc680.html" target="element"> Product owner </a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-43beeb652f58481593d59612b4f9e7fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43beeb652f58481593d59612b4f9e7fa.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5ac339ef8f274efdb08bff32824d560f.html" target="element"> Development team </a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-322a39a0e736456db5ba29eed8d8a430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-322a39a0e736456db5ba29eed8d8a430.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-706f9f34a0d44e31b3142b136bc4546a.html" target="element"> Project </a> </td>
																		<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-89d32e8681f34d38890a87cfac6de7ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89d32e8681f34d38890a87cfac6de7ad.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																		<td> <a href="../elements/id-706f9f34a0d44e31b3142b136bc4546a.html" target="element"> Project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03e24386a37749a4a0d5f43ceb44ddbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03e24386a37749a4a0d5f43ceb44ddbf.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																		<td> <a href="../elements/id-36e65c2f62a144fea581dfe2c71eea1b.html" target="element"> Solving the task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69cabc996e034de2a2576b5f527fb5c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69cabc996e034de2a2576b5f527fb5c2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																		<td> <a href="../elements/id-13fdc370437344deb39c03aeb04fe4ba.html" target="element"> Project management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd400c048a644d70ade5f8c61a09708f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd400c048a644d70ade5f8c61a09708f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-47514314e4a544f290b4d22835a86dd1.html" target="element"> Project implementation </a> </td>
																		<td> <a href="../elements/id-a4bfc600232e419eb81870b5e1b1cd63.html" target="element"> Product Increment delivery </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
																		<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>