<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>05 Processes - Educational process</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>05 Processes - Educational process</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4f9bec9f83d24f5c9549c9bc17e703ad.png" alt="05 Processes - Educational process" usemap="#id-4f9bec9f83d24f5c9549c9bc17e703admap"/>
			   <map name="id-4f9bec9f83d24f5c9549c9bc17e703admap">
				  		<area shape="rect" coords="214,10,334,65" href="../elements/id-e3323a03362a47959a0e990532b5148a.html"  target="element">
				  		<area shape="rect" coords="538,406,658,461" href="../elements/id-ce572d93eefe41aaa58e54c0fd0f3f9a.html"  target="element">
				  		<area shape="rect" coords="538,10,658,65" href="../elements/id-53de5be824a74f1ab20b1c5d3ce751f4.html"  target="element">
				  		<area shape="rect" coords="382,370,502,425" href="../elements/id-d7063a0d834b4091b5475c26e6603d69.html"  target="element">
				  		<area shape="rect" coords="382,10,502,65" href="../elements/id-5bf7bcd381b145ba8ff243aa87d44099.html"  target="element">
				  		<area shape="rect" coords="208,406,340,461" href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html"  target="element">
				  		<area shape="rect" coords="766,259,886,314" href="../elements/id-7f784a0cf55e4c45bf1c39b793e2fa9f.html"  target="element">
				  		<area shape="rect" coords="718,231,733,246" href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html"  target="element">
				  		<area shape="rect" coords="766,157,886,212" href="../elements/id-072de82af9be4739b09b5bd480026fb6.html"  target="element">
				  		<area shape="rect" coords="10,211,130,266" href="../elements/id-b802fa890898487c9df13f07332cae8f.html"  target="element">
				  				<area shape="rect" coords="526,214,659,269" href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html"  target="element">
				  				<area shape="rect" coords="382,214,502,269" href="../elements/id-b914df8255ba4332ac139f1cf663a63f.html"  target="element">
				  						<area shape="rect" coords="214,286,334,335" href="../elements/id-0405127065204f1e8650f48154c07729.html"  target="element">
				  						<area shape="rect" coords="214,238,334,275" href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html"  target="element">
				  						<area shape="rect" coords="214,190,334,227" href="../elements/id-568099975f2e4514a965d55424b7b608.html"  target="element">

				  				<area shape="rect" coords="190,142,359,347" href="../elements/id-0bda6086f9714599897077cd0993350f.html"  target="element">

				  		<area shape="rect" coords="178,118,671,359" href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
											    <td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
													    <td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-568099975f2e4514a965d55424b7b608.html" target="element"> Lectures </a> </td>
															    <td> <a href="../elements/id-568099975f2e4514a965d55424b7b608.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
															    <td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0405127065204f1e8650f48154c07729.html" target="element"> Control measures </a> </td>
															    <td> <a href="../elements/id-0405127065204f1e8650f48154c07729.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b914df8255ba4332ac139f1cf663a63f.html" target="element"> Project implementation </a> </td>
													    <td> <a href="../elements/id-b914df8255ba4332ac139f1cf663a63f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html" target="element"> &#1057;ompleting an internship </a> </td>
													    <td> <a href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b802fa890898487c9df13f07332cae8f.html" target="element"> Student enrollment </a> </td>
											    <td> <a href="../elements/id-b802fa890898487c9df13f07332cae8f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-072de82af9be4739b09b5bd480026fb6.html" target="element"> Student graduation </a> </td>
											    <td> <a href="../elements/id-072de82af9be4739b09b5bd480026fb6.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f784a0cf55e4c45bf1c39b793e2fa9f.html" target="element"> Student expulsion </a> </td>
											    <td> <a href="../elements/id-7f784a0cf55e4c45bf1c39b793e2fa9f.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5bf7bcd381b145ba8ff243aa87d44099.html" target="element"> Education </a> </td>
											    <td> <a href="../elements/id-5bf7bcd381b145ba8ff243aa87d44099.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7063a0d834b4091b5475c26e6603d69.html" target="element"> Head of the project </a> </td>
											    <td> <a href="../elements/id-d7063a0d834b4091b5475c26e6603d69.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53de5be824a74f1ab20b1c5d3ce751f4.html" target="element"> Prospective employer </a> </td>
											    <td> <a href="../elements/id-53de5be824a74f1ab20b1c5d3ce751f4.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ce572d93eefe41aaa58e54c0fd0f3f9a.html" target="element"> Head of the internship </a> </td>
											    <td> <a href="../elements/id-ce572d93eefe41aaa58e54c0fd0f3f9a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> Student </a> </td>
											    <td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b97eaa78e32f42bd87a60774f6fc74a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b97eaa78e32f42bd87a60774f6fc74a5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																		<td> <a href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac060933b17745669bdbddce91a79b85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac060933b17745669bdbddce91a79b85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																		<td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-829a2441925842349714628eaf0ed90d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-829a2441925842349714628eaf0ed90d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																		<td> <a href="../elements/id-b914df8255ba4332ac139f1cf663a63f.html" target="element"> Project implementation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c277d281647244cf9e0c476db8f69f33.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c277d281647244cf9e0c476db8f69f33.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																		<td> <a href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html" target="element"> &#1057;ompleting an internship </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-310d581ae73a4c45a0b10c204187e690.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-310d581ae73a4c45a0b10c204187e690.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																		<td> <a href="../elements/id-5bf7bcd381b145ba8ff243aa87d44099.html" target="element"> Education </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-795d97ee27dc4ffead3b5147ad16bc72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-795d97ee27dc4ffead3b5147ad16bc72.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
																				<td> <a href="../elements/id-568099975f2e4514a965d55424b7b608.html" target="element"> Lectures </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-54681f8c486044b69d457e89b14cbb9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-54681f8c486044b69d457e89b14cbb9b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
																				<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4c59dc28edc244ab8a1bd9ea796517b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4c59dc28edc244ab8a1bd9ea796517b1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
																				<td> <a href="../elements/id-0405127065204f1e8650f48154c07729.html" target="element"> Control measures </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1b326add53ba4bf69706006d71e78554.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b326add53ba4bf69706006d71e78554.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b802fa890898487c9df13f07332cae8f.html" target="element"> Student enrollment </a> </td>
																		<td> <a href="../elements/id-15c8344efea34b44ab44c95c7ed36e2a.html" target="element"> Educational process </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6af9cfdb572b4a50838b5e738d6b4839.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6af9cfdb572b4a50838b5e738d6b4839.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-7f784a0cf55e4c45bf1c39b793e2fa9f.html" target="element"> Student expulsion </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb9fb9e784864c04a0c20426635bdffa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb9fb9e784864c04a0c20426635bdffa.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5c07c814ad264aae8e2a837dc600183e.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-072de82af9be4739b09b5bd480026fb6.html" target="element"> Student graduation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6c50a61a7bd14672ac8efed65e22256f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c50a61a7bd14672ac8efed65e22256f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-0bda6086f9714599897077cd0993350f.html" target="element"> Study of the discipline </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8052f9c512e446f48dc572253c851db2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8052f9c512e446f48dc572253c851db2.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-d7063a0d834b4091b5475c26e6603d69.html" target="element"> Head of the project </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3b81509133f4f1cb321460afa8e102b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3b81509133f4f1cb321460afa8e102b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-ce572d93eefe41aaa58e54c0fd0f3f9a.html" target="element"> Head of the internship </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a3608e369c4648819a6e1a9725e9b37d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3608e369c4648819a6e1a9725e9b37d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5bf7bcd381b145ba8ff243aa87d44099.html" target="element"> Education </a> </td>
																		<td> <a href="../elements/id-e3323a03362a47959a0e990532b5148a.html" target="element"> Student </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be363f3bd251440e8f52946008ed7cdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be363f3bd251440e8f52946008ed7cdb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d7063a0d834b4091b5475c26e6603d69.html" target="element"> Head of the project </a> </td>
																		<td> <a href="../elements/id-b914df8255ba4332ac139f1cf663a63f.html" target="element"> Project implementation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d44da737ccab4deab8cf87f93ed6f8de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d44da737ccab4deab8cf87f93ed6f8de.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53de5be824a74f1ab20b1c5d3ce751f4.html" target="element"> Prospective employer </a> </td>
																		<td> <a href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html" target="element"> &#1057;ompleting an internship </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bd4a13ce8ec849f4b8b0123d7e005a2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd4a13ce8ec849f4b8b0123d7e005a2d.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ce572d93eefe41aaa58e54c0fd0f3f9a.html" target="element"> Head of the internship </a> </td>
																		<td> <a href="../elements/id-5d881ef59a504321b32e896fdff9ee2a.html" target="element"> &#1057;ompleting an internship </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>