<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>09 Processes - Seminars TO BE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>09 Processes - Seminars TO BE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-88a94fb0a64d4a51a91575a9f17af948.png" alt="09 Processes - Seminars TO BE" usemap="#id-88a94fb0a64d4a51a91575a9f17af948map"/>
			   <map name="id-88a94fb0a64d4a51a91575a9f17af948map">
				  		<area shape="rect" coords="214,10,334,65" href="../elements/id-bda886d29d2c4e9aaa282cbf9b1eeb56.html"  target="element">
				  		<area shape="rect" coords="478,10,610,65" href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html"  target="element">
				  						<area shape="rect" coords="514,154,646,209" href="../elements/id-edfef9fcecf04c6d8883912d4048b851.html"  target="element">
				  						<area shape="rect" coords="346,154,490,209" href="../elements/id-cdb269a506464d689f3d17f705af5ab4.html"  target="element">
				  						<area shape="rect" coords="190,154,323,209" href="../elements/id-2585c71f32d448d4bb41420d4f4bfca4.html"  target="element">

				  				<area shape="rect" coords="178,118,659,215" href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html"  target="element">
				  				<area shape="rect" coords="526,388,646,443" href="../elements/id-b96677c00b65415cb06e3551580007ec.html"  target="element">
				  				<area shape="rect" coords="359,388,479,443" href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html"  target="element">
				  				<area shape="rect" coords="190,388,310,443" href="../elements/id-bdbb32978962413682d9988862b333f4.html"  target="element">
				  				<area shape="rect" coords="22,496,142,551" href="../elements/id-bd3b5cb21d2040dc891d4634a828e7e2.html"  target="element">
				  				<area shape="rect" coords="706,496,839,551" href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html"  target="element">
				  				<area shape="rect" coords="359,496,479,551" href="../elements/id-5861914e23a84df1977fd9181ed45003.html"  target="element">
				  				<area shape="rect" coords="706,190,839,245" href="../elements/id-0148112a92414a2da33f95b4b37a6bb6.html"  target="element">
				  				<area shape="rect" coords="22,190,142,245" href="../elements/id-f3d3516c06a84c428aa33b5f38534ee4.html"  target="element">
				  				<area shape="rect" coords="526,496,646,551" href="../elements/id-2bd9882034874749b4c658be0284b1e3.html"  target="element">
				  				<area shape="rect" coords="190,496,310,551" href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html"  target="element">
				  						<area shape="rect" coords="514,256,647,323" href="../elements/id-aa048d47163c45949efeaa93df9a3096.html"  target="element">
				  								<area shape="rect" coords="346,304,467,353" href="../elements/id-44eb0bd87ca946d3b37ceebb44d37197.html"  target="element">

				  						<area shape="rect" coords="334,256,479,359" href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html"  target="element">
				  						<area shape="rect" coords="190,256,299,323" href="../elements/id-263871da97ee44a380782fe609bed7f1.html"  target="element">

				  				<area shape="rect" coords="178,226,659,365" href="../elements/id-69e342495d2a454cb4ba6399f6722152.html"  target="element">

				  		<area shape="rect" coords="10,82,851,563" href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
											    <td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
													    <td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-263871da97ee44a380782fe609bed7f1.html" target="element"> Choosing topics </a> </td>
															    <td> <a href="../elements/id-263871da97ee44a380782fe609bed7f1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
															    <td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-44eb0bd87ca946d3b37ceebb44d37197.html" target="element"> Preparing unit tests </a> </td>
																	    <td> <a href="../elements/id-44eb0bd87ca946d3b37ceebb44d37197.html" target="element" class="i18n-elementtype-BusinessProcess">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-aa048d47163c45949efeaa93df9a3096.html" target="element"> Preparation of methodological materials </a> </td>
															    <td> <a href="../elements/id-aa048d47163c45949efeaa93df9a3096.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
													    <td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
													    <td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3d3516c06a84c428aa33b5f38534ee4.html" target="element"> Appointment of a lecturer </a> </td>
													    <td> <a href="../elements/id-f3d3516c06a84c428aa33b5f38534ee4.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0148112a92414a2da33f95b4b37a6bb6.html" target="element"> Course materials have been created </a> </td>
													    <td> <a href="../elements/id-0148112a92414a2da33f95b4b37a6bb6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> Publishing a task </a> </td>
													    <td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> The solution is appreciated </a> </td>
													    <td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bd3b5cb21d2040dc891d4634a828e7e2.html" target="element"> Setting a class date </a> </td>
													    <td> <a href="../elements/id-bd3b5cb21d2040dc891d4634a828e7e2.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
													    <td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
													    <td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
													    <td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
													    <td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2585c71f32d448d4bb41420d4f4bfca4.html" target="element"> Creating a project </a> </td>
															    <td> <a href="../elements/id-2585c71f32d448d4bb41420d4f4bfca4.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cdb269a506464d689f3d17f705af5ab4.html" target="element"> Web-app deployment </a> </td>
															    <td> <a href="../elements/id-cdb269a506464d689f3d17f705af5ab4.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-edfef9fcecf04c6d8883912d4048b851.html" target="element"> Creating teams </a> </td>
															    <td> <a href="../elements/id-edfef9fcecf04c6d8883912d4048b851.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
											    <td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bda886d29d2c4e9aaa282cbf9b1eeb56.html" target="element"> System Administrator </a> </td>
											    <td> <a href="../elements/id-bda886d29d2c4e9aaa282cbf9b1eeb56.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0a46e1dbf93e443e866c4b68171ded3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a46e1dbf93e443e866c4b68171ded3e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																		<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73b8afb56f084f5eb19c56ad22a92d35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73b8afb56f084f5eb19c56ad22a92d35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																		<td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7dcf1f634dd647bda6d300d01f820756.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dcf1f634dd647bda6d300d01f820756.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																		<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40c66b6a526b475bbfaa79f97e997dca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40c66b6a526b475bbfaa79f97e997dca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																		<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-4b0ed8de8acc483eabef0efaa02d7b53.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4b0ed8de8acc483eabef0efaa02d7b53.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																				<td> <a href="../elements/id-0148112a92414a2da33f95b4b37a6bb6.html" target="element"> Course materials have been created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-85c5c1a3dad84a3fb0c32cf01899a35a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85c5c1a3dad84a3fb0c32cf01899a35a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																				<td> <a href="../elements/id-263871da97ee44a380782fe609bed7f1.html" target="element"> Choosing topics </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c15da5b3e3674995af71c73abb94942b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c15da5b3e3674995af71c73abb94942b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																				<td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a4d8d7c65434d6da0afeb3f1b346005.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a4d8d7c65434d6da0afeb3f1b346005.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																				<td> <a href="../elements/id-aa048d47163c45949efeaa93df9a3096.html" target="element"> Preparation of methodological materials </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-b3ff5161a3c44824a97b13f2c5928669.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b3ff5161a3c44824a97b13f2c5928669.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-263871da97ee44a380782fe609bed7f1.html" target="element"> Choosing topics </a> </td>
																						<td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-78dc9a8a5e5c49aab74f8a35eb18f08c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-78dc9a8a5e5c49aab74f8a35eb18f08c.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-263871da97ee44a380782fe609bed7f1.html" target="element"> Choosing topics </a> </td>
																						<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-5d2b41bad1d043008e4ed4a8372afe64.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5d2b41bad1d043008e4ed4a8372afe64.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
																						<td> <a href="../elements/id-aa048d47163c45949efeaa93df9a3096.html" target="element"> Preparation of methodological materials </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-5de23923b0624b94acc3b2f9b7ae515a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5de23923b0624b94acc3b2f9b7ae515a.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
																						<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-1b185a8162904afa989d42c1e884f8d5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1b185a8162904afa989d42c1e884f8d5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-e1af2476ccdb4714a9256c7ab58c2ad1.html" target="element"> Preparing tasks </a> </td>
																						<td> <a href="../elements/id-44eb0bd87ca946d3b37ceebb44d37197.html" target="element"> Preparing unit tests </a> </td>
																					</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-558e256dc0a7433f93af0d0f6f0ae034.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-558e256dc0a7433f93af0d0f6f0ae034.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
																				<td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> Publishing a task </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ce073751f47e463e991e71aba661d94f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce073751f47e463e991e71aba661d94f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
																				<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1d934e2bf951482c86e68d547e6248e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d934e2bf951482c86e68d547e6248e1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
																				<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c2f91e9fac04c058de583e19f81212b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																				<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45dde9fa30d9468e85156b7a14fb8572.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																				<td> <a href="../elements/id-b96677c00b65415cb06e3551580007ec.html" target="element"> Solution </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7034b340ef904efcb82f2f40ff0eff0f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																				<td> <a href="../elements/id-ac4d627f8ebd4663be11cfdcc9609df6.html" target="element"> The solution is appreciated </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-044ba957a7184b0a8589a11970b4b36e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-044ba957a7184b0a8589a11970b4b36e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3d3516c06a84c428aa33b5f38534ee4.html" target="element"> Appointment of a lecturer </a> </td>
																				<td> <a href="../elements/id-69e342495d2a454cb4ba6399f6722152.html" target="element"> Preparation of course materials </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6bf2e29c817441bba13d7ea12a3f672d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6bf2e29c817441bba13d7ea12a3f672d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f3d3516c06a84c428aa33b5f38534ee4.html" target="element"> Appointment of a lecturer </a> </td>
																				<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c5d53c333b74494c9d9a362cfd0b1b9d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5861914e23a84df1977fd9181ed45003.html" target="element"> Publishing a task </a> </td>
																				<td> <a href="../elements/id-2bd9882034874749b4c658be0284b1e3.html" target="element"> Completing a task </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5461ca35e01e45c1827fa0265b3ddc66.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5461ca35e01e45c1827fa0265b3ddc66.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bd3b5cb21d2040dc891d4634a828e7e2.html" target="element"> Setting a class date </a> </td>
																				<td> <a href="../elements/id-ba69b17e65634a45a84e42acb4c5d478.html" target="element"> Conducting a class </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72abfa75f8704630b6dc2c75c385be43.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bdbb32978962413682d9988862b333f4.html" target="element"> Topic </a> </td>
																				<td> <a href="../elements/id-aecdb81bf20e46c0827d4d4b4d4eabcb.html" target="element"> Task </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-34db380e8a5f42f192e7ada0f6d0e52c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34db380e8a5f42f192e7ada0f6d0e52c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																				<td> <a href="../elements/id-0148112a92414a2da33f95b4b37a6bb6.html" target="element"> Course materials have been created </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08d6e28f7b4244e6ab3914bd55018537.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08d6e28f7b4244e6ab3914bd55018537.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																				<td> <a href="../elements/id-2585c71f32d448d4bb41420d4f4bfca4.html" target="element"> Creating a project </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dc73be688b2d4d8eab267d2ab421d853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc73be688b2d4d8eab267d2ab421d853.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																				<td> <a href="../elements/id-edfef9fcecf04c6d8883912d4048b851.html" target="element"> Creating teams </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-525dc5b9ee95412486efc924374b4de1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-525dc5b9ee95412486efc924374b4de1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																				<td> <a href="../elements/id-cdb269a506464d689f3d17f705af5ab4.html" target="element"> Web-app deployment </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-f1f157974ed947bd8b1802491a2c2890.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1f157974ed947bd8b1802491a2c2890.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-bda886d29d2c4e9aaa282cbf9b1eeb56.html" target="element"> System Administrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64cbf34e492c4bebaf8edd867df327a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64cbf34e492c4bebaf8edd867df327a5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b8dd9b0d55bf4959900f96e87c0cdc80.html" target="element"> Lecturer </a> </td>
																		<td> <a href="../elements/id-74e770f5aa154c29bc9c7854a4fdcd3c.html" target="element"> Seminars </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8650e3f654bd40109c4a3e372605d9fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8650e3f654bd40109c4a3e372605d9fc.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bda886d29d2c4e9aaa282cbf9b1eeb56.html" target="element"> System Administrator </a> </td>
																		<td> <a href="../elements/id-b54d04ee66564ae5b79bca156f0a9ae6.html" target="element"> Preparing the platform </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>